.aboutMeContainer{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.aboutMeHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 60px;
}

.aboutMeHeader > h1 {
    width: 400px;
    font-size: 2.5rem;
    margin-left: 50px;
    line-height: 50px;
}

.headshot {
    height: 300px;
    border-radius: 32% 68% 24% 76% / 67% 27% 73% 33%  ;
}

.aboutSection {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: auto;
    width: 80%;
    padding: 60px 20px;
}

@media screen and (max-width: 992px) {
    .aboutMeHeader > h1 {
        width: 300px;
        font-size: 2rem;
        margin-left: 35px;
        line-height: 35px;
    }
    .aboutSection {
        padding: 35px 20px;
    }
}