.aboutMeContainer{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.aboutMeHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 60px;
}

.aboutMeHeader > h1 {
    width: 400px;
    font-size: 2.5rem;
    margin-left: 50px;
    line-height: 50px;
}

.aboutMeHeader > h2 {
    width: 400px;
    margin: 20px 40px 0 50px;
    line-height: 50px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 2.5rem;
}

.headshot {
    height: 300px;
    border-radius: 32% 68% 24% 76% / 67% 27% 73% 33%  ;
}

.aboutSection {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: auto;
    width: 80%;
    padding: 30px 20px 50px 20px;
}

@media screen and (max-width: 1115px) and (min-width: 665px) {
    .aboutMeHeader > h2 {
        width: 500px;
        font-size: 2.2rem;
        margin-left: 35px;
        line-height: 35px;
        margin: 15px;
    }
    .aboutSection {
        padding: 20px 20px 60px 20px;
    }
}