.Contact {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.contactForm > h1 {
    font-family: 'Mochiy Pop One', sans-serif;
 }

.contactForm {
    padding-bottom: 40px;
    margin: 20px;
}

.contactForm > label {
    display: block;
    font-family: 'Manrope', sans-serif;
}

.contactForm > input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    border: solid 4px black;
    font-family: 'Manrope', sans-serif;
}

.contactForm > textarea {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    border: solid 4px black;
    font-family: 'Manrope', sans-serif;
}

.contactButton {
    display: block;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: rgb(109, 173, 222);
    padding: 10px 15px;
    border: solid 2px black;
    border-radius: 7px;
    margin: auto;
}

.contactButton:hover {
    cursor: pointer;
    opacity: 0.7;
}