.Footer {
  overflow-x: hidden;
}

.socialLogo {
    width: 2.5rem;
    background-color: #FCE2D0;
    border-radius: 50%;
}

.footerList {
  width: 3.5rem;
  position: fixed;
  bottom: 0px;
  right: auto;
  z-index: 10;
  padding-left: 20px;
}

.footerList *{
    list-style-type: none;
    display: block;
}

.socialHamburger {
  display: none;
}

.socialLogo {
  margin: 5px;
}

.footerLink .socialLogo:last-child {
    display: none; 
    border: 0;
  }
.footerLink:hover .socialLogo:last-child {
    display: block; 
    border: 0;
  }
  
.footerLink:hover .socialLogo:first-child {
    display: none; 
    border: 0;
  }


  @media screen and (max-width: 1020px) and (min-width: 511px) {
    .socialLogo {
      width: 3.5rem; 
    }

    .footerList {
      width: 100px;
      height: 260px;
      position: absolute;
      margin: 0;
      border-radius: 0 0 0 60px;
      z-index: 10;
      top: 0;
      right: 0;
      padding: 90px 30px 10px 20px;
      background-color: #e6c5a5;

      /* transform: translateX(380%); */
      transition: 350ms ease-out;
    }

    .socialHamburger {
      cursor: pointer;
      display: block;
      position: absolute;
      z-index: 100;
      background: url("./images/hamburger.png");
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
      width: 3rem;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem;
    }

    .socialClose {
      cursor: pointer;
      display: block;
      position: absolute;
      z-index: 100;
      background: url("./images/closec.png");
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
      width: 3rem;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem;
    }
  }

  @media screen and (max-width: 510px) {
    .socialLogo {
      width: 3.5rem; 
    }

    .footerList {
      width: 100px;
      height: 260px;
      position: absolute;
      margin: 0;
      border-radius: 60px 0 0 60px;
      z-index: 10;
      top: 130px;
      right: 0;
      padding: 90px 30px 10px 20px;
      background-color: #e6c5a5;

      transition: all transform 350ms ease-out;
    }

    .socialHamburger {
      cursor: pointer;
      display: block;
      position: absolute;
      z-index: 100;
      background: url("./images/hamburger.png");
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
      width: 3rem;
      aspect-ratio: 1;
      top: 10rem;
      right: 1.5rem;
      /* transition: all 0.3s ease-in; */
    }

    .socialClose {
      cursor: pointer;
      display: block;
      position: absolute;
      z-index: 100;
      background: url("./images/closec.png");
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
      width: 3rem;
      aspect-ratio: 1;
      top: 10rem;
      right: 1.5rem;
      /* transition: all 0.3s ease-out; */
    }
  }
