.socialLogo {
    width: 40px; 
}

.footerList {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: auto;
  z-index: 10;
  padding-left: 20px;
}

.footerList *{
    list-style-type: none;
    display: block;
    margin: 5px;
}

.footerLink .socialLogo:last-child {
    display: none; 
    border: 0;
  }
.footerLink:hover .socialLogo:last-child {
    display: block; 
    border: 0;
  }
  
.footerLink:hover .socialLogo:first-child {
    display: none; 
    border: 0;
  }


  @media screen and (max-width: 992px) {
    .footerList {
      width: 40px;
      position: fixed;
      top: 0px;
      right: 50px;
      z-index: 10;
      padding-right: 20px;
    }
  }
