.Header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 3px solid #be9973;
    border-bottom: 3px solid #be9973;
}

.iconImg {
    height: 250px;
    display: block;
    margin: auto;
    padding-top: 25px;
}

.factSection {
    display: flex;
    justify-content: center;
}

.factText {
    font-family: 'Gochi Hand', cursive;
    font-size: 25px;
    font-weight:lighter;
    text-align: center;
    width: 500px;
    display: inline-block;
    margin: 30px 0px;
}

.factButton {
    border: transparent;
    background: none;
    padding: 0;
}

.factButton:hover {
    opacity: 0.4;
    cursor: pointer;
}

.buttonImg {
    height: 30px;
    margin-left: 20px;
    display: inline-block;
}


@media screen and (max-width: 665px) {
    .factText {
        width: 60%;
        font-size: 22px;
    }

    .iconImg {
        height: 200px;
    }
}