.navBarContainer {
  display: flex;
  justify-content: space-between;
}

.navH1 {
    font-family: 'Ribeye', cursive;
    font-size: 80px;
    margin-top: 30px;
    margin-left: 45px; 
}

.navbarList {
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 4px solid #000;
    display: inline-block;
}

.navCont {
    margin: 40px;
}

.navbarList * {
    display: inline-block;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: #2a2a2a;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

.navbarList > li {
  border: solid #000;
  border-width: 4px 4px 0px 4px;
  border-radius: 15px 15px 0 0;
}

.aboutTab {
    background-color: #DB77B5;
    width: 105px;
    margin-right: 5px;
}

.projectsTab {
    background-color: #A1E08A;
    width: 105px;
    margin-right: 5px;
}

.resumeTab {
    background-color: #EA7A87;
    width: 105px;
    margin-right: 5px;
}

.contactTab {
    background-color: #fceb95;
    width: 108px;
}

.navbarList > li:hover {
    transform: translate(0px, 9px);
    
}
  @media screen and (max-width: 480px) {
    .navCont {
      position: fixed;
      bottom: 0;
    }
  }
  
  /* @media screen and (min-width: 992px) {
    .Loader-h1 {
      font-size: 45px;
    }
  } */