.navH1 {
    float: left;
    font-family: 'Ribeye', cursive;
    font-size: 80px;
    margin-top: 30px;
    margin-left: 45px; 
}

.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 4px solid #000;
    display: inline-block;
}

.navCont {
    float: right;
    margin: 40px;
}

.navbarList * {
    display: inline-block;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: #2a2a2a;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

.aboutTab {
    background-color: #DB77B5;
    width: 105px;
    margin-right: 5px;
    border: solid #000;
    border-width: 4px 4px 0px 4px;
    border-radius: 15px 15px 0 0;
}

.projectsTab {
    background-color: #A1E08A;
    width: 105px;
    margin-right: 5px;
    border: solid #000;
    border-width: 4px 4px 0px 4px;
    border-radius: 15px 15px 0 0;
}

.resumeTab {
    background-color: #EA7A87;
    width: 105px;
    margin-right: 5px;
    border: solid #000;
    border-width: 4px 4px 0px 4px;
    border-radius: 15px 15px 0 0;
}

.contactTab {
    background-color: #fceb95;
    width: 108px;
    border: solid #000;
    border-width: 4px 4px 0px 4px;
    border-radius: 15px 15px 0 0;
}

.navbarList * a:hover {
    position: relative;
    top: -7px;
    padding-top: 14px;
  }