.Projects {
   display: flex;
   justify-content: center;
   text-align: center;
   padding-bottom: 45px;
}

.Projects > h1 {
   font-family: 'Mochiy Pop One', sans-serif;
}

.projectUL {
   list-style: none;
}

.projectCards {
   border: solid 2px black;
   min-width: 350px;
   border-radius: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   font-family: 'Manrope', sans-serif;
   margin: 10px;
}

.projectATag {
   opacity: 50%;
}

.projectATag:hover {
   opacity: 100%;
}

.projectImg {
   width: 350px;
   height: 200px;
   object-fit: contain;
   position: relative;
   margin-top: 20px;
}