ul {
   padding-inline-start: 0px;
}

.Projects > h1 {
   font-family: 'Mochiy Pop One', sans-serif;
   text-align: center;
}

.projectUL {
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-bottom: 45px;
}

.projectCards {
   border: solid 2px black;
   width: 500px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   text-align: center;
   font-family: 'Manrope', sans-serif;
   margin: 15px;
}

.projectATag {
   opacity: .5;
}

.projectATag:hover {
   opacity: 1;
}

.projectImg {
   width: 350px;
   height: 200px;
   object-fit: contain;
   margin-top: 20px;
}

@media screen and (max-width: 992px) {
   .projectCards {
      width: 350px;
   }
}
