.Projects {
   display: flex;
   justify-content: center;
   text-align: center;
}

.Projects > h1 {
   font-family: 'Mochiy Pop One', sans-serif;
}

.projectUL {
   list-style: none;
}

.projectCards {
   border: solid 2px black;
   width: 500px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   text-align: center;
}

.projectLink:hover {
   opacity: 50%;
}

.projectImg {
   width: 350px;
   height: 200px;
   object-fit: cover;
   position: relative;
   margin: 0px;
}